@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;1,500&family=Noto+Serif&family=Oleo+Script+Swash+Caps&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,400;1,200;1,500;1,700&family=Quicksand:wght@500&family=Radio+Canada&family=Roboto+Condensed&family=Roboto+Slab&family=Roboto:ital@0;1&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Bebas',sans-serif;
}

body {
    margin: 0;
    padding: 20px;
}

input {
    margin-left: 5px;
    font-size: 14px;
    padding: 5px;
}
